.data-container-virtual {
  height: 240px;
  width: 200px;
  background-color: #cccccc;
  position: relative;
  ul {
    height: 240px;
    width: 200px;
    list-style-type: none;
    padding-inline-start: 0;
    overflow-y: scroll;
    position: relative;
  }
  ul > li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
}