.basic-container-uploadpicturelist {
  .ant-upload-list {
    display: flex;
    justify-content: flex-start;
  }
  .upload-list-inline .ant-upload-list-item {
    width: 200px;
    margin-right: 8px;
  }
  .position-btn {
    margin-top: 20px;
  }
  .ant-card-body {
    min-height: 300px;
  }
  .main-content {
    margin-top: 50px;
    .cover-img {
      min-height: 250px;
    }
    .trans-detail {
      height: 40px;
      font-weight: 500;
    }
    .trans-detail-origin {
      font-size: 14px;
      font-weight: 600;
    }
  }
}